<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="pull-right">
  ユーザー名検索  
  <%= form_tag(users_path, method: "get") do %>
  <%= label_tag %>
  <%= text_field_tag :name, params[:search] %>
  <%= submit_tag "検索", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
       
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
       <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
       </td>
       <td>|</td>
       <td class="center">
        <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true %>
       </td>
       <td>|</td>
       <td class="center">
        <%= link_to "削除", user, method: :delete,
        data: { confirm: "削除してよろしいですか？" } %>
    　   <% end %>
    　　  </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>